.service_sec {
  background: url("../images/main_bg-all.png") #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 14rem 5rem;
}
.service_sec-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar {
  width: 40%;
}

.sidebar h2 {
  color: var(--mainBlue, #012866);
  font-size: 5rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}
.sidebar h2 span {
  color: var(--mainBlue, #012866);
  font-size: 1.1rem;
  font-weight: 700;
}
.sidebar .subtext {
  color: var(--mainBlue, #012866);
  font-size: 1.8rem;
  font-weight: 700;
  margin: 4rem 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  height: 5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #484848;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 1rem;
}

.sidebar li:hover {
  color: var(--mainBlue, #012866);
  font-size: 1.5rem;
}
.sidebar li img{
  max-height: 2rem;
}

.sidebar li h4{
  min-width: 9.5rem;
  width: fit-content;
  text-align: center;
font-weight: 700;
}

.sidebar li p{
font-family: "Noto Sans JP";
font-weight: 350;
}

.sidebar li.active {
  color: var(--mainBlue, #012866);
  font-size: 1.5rem;
}

.main-content {
  width: 60%;
  flex-grow: 1;
  position: relative;
}

.slider {
  width: 80%;
  overflow: hidden;
  margin: 0 auto;
  border-radius: .5rem;
background: #FFF;
box-shadow: .3rem .3rem 1.1rem 0 rgba(96, 108, 137, 0.13);
}

.slider-wrapper {
  width: 100%;
  display: flex;
  transition: all 0.5s ease;
}

.slider-wrapper .img_container {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
  padding: 3.2rem 7rem;
}

.slider-wrapper .img_container .main_slider-photo{
  height: 20rem;
}
.slider-wrapper .img_container .slider_logo-item{
  width: 80%;
  max-width: 15.5rem;
}
.slider-wrapper .img_container h3{
  color: var(--mainBlue, #012866);
text-align: center;
font-size: 1.5rem;
font-weight: 700;
}
.slider-wrapper .img_container p{
  color: var(--text-black, #232323);
font-size: 1.4rem;
font-weight: 500;
}

.slider-dots {
  width: 100%;
  height: 2rem;
  margin-top: 6rem;
  position: relative;
  display: flex;
  gap: 8rem;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.slider-dots .dot {
  cursor: pointer;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  background-color: gray;
  border-radius: 50%;
  margin: 0 .5rem;
  position: relative;
}

.slider-dots .dot:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 9rem;
  height: .2rem;
  background-color: gray;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}
.slider-dots .dot:hover{
  background-color: var(--mainBlue, #012866);
}
.slider-dots .dot.active {
  background-color: var(--mainBlue, #012866);
}

@media(max-width: 1024px){
  .service_sec-container{
    flex-direction: column;
    align-items: center;
    padding:5rem;
    gap: 3rem;
  }
  .sidebar .subtext {
    color: var(--mainBlue, #012866);
    font-size: 1.8rem;
    font-weight: 700;
    margin: 2rem 0;
  }
  .sidebar {
    width: 70%;
  }
  .main-content {
    width: 70%;
  }
  .slider {
    width: 100%;
  }
}
@media(max-width: 768px){
  .slider-wrapper .img_container {
    padding: 2rem 3rem;
  }
  .service_sec{
    padding: 7rem 0;
  }
  .sidebar {
    width: 100%;
  }
  .main-content {
    width: 100%;
  }

  .slider-dots {
    gap: 4rem;
  }

  .slider-dots .dot:not(:last-child)::after {
    width: 5rem;
  }
}

@media(max-width: 425px){
  
  .service_sec-container {
    padding: 0;
  }
  .slider-dots {
    gap: 2rem;
  }

  .slider-dots .dot:not(:last-child)::after {
    width: 3rem;
  }
}