*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

@media(max-width: 1024px){
    html{
        font-size: 56.25%;
    }
}
@media(max-width: 768px){
    html{
        font-size: 50%;
    }
}
@media(max-width: 470px){
    html{
        font-size: 43.75%;
    }
}
@media(max-width: 470px){
    html{
        font-size: 37.5%;
    }
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
}

:root{
    --mainBlue: #012866;
    --font_color: #ffffff;
    --darker_font-color: #f8f8f8;
}

.main_section{
    width: 90%;
    margin: 0 auto;
}